
{% extends 'admintemplates/adminbase.html' %}
{% block content %}
<div class="main">
<h2>List of all Employers</h2>
<table class="table mt-5">
	<thead>
		<tr>
			<th>Sn</th>
			<th>Name:</th>
			<th>Contact:</th>
			<th>Email:</th>
			<th>Website:</th>
			<th>Total Jobs Posted:</th>
		</tr>
	</thead>
	<tbody>
		{% for employer in adminemployer %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url 'jobapp:adminemployerdetail' employer.id %}">{{employer.name}}</a></td>
			<td>{{employer.mobile}}</td>
			<td>{{employer.email}}</td>
			<td>{{employer.website}}</td>
			<td>{{employer.job}}</td>
			
		</tr>
		{% endfor %}
	</tbody>
</table>
</div>


{% endblock %}