{% extends 'admintemplates/adminbase.html' %}
{% block content %}
<h1>JobList</h1>
<table class="table">
	<thead>
		<tr>
			<th>Sn</th>
			<th>JobTitle</th>
			<th>Company Name</th>
			<th>Skills</th>
			<th>Location</th>
		
		</tr>
	</thead>
	<tbody>
		{% for job in jobobject %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url 'jobapp:adminjobdetail' job.id %}">{{job.title}}</td>
			<td>{{job.employer}}</td>
			<td>{{job.skills}}</td>
			<td>{{job.employer.address}}</td>
			
		</tr>
		{% endfor %}
	</tbody>

</table>

{% endblock %}